<header>
    <div class="header-container">
        <h1>Gabriel Lechenco</h1>
        <h2>Hardware & Software</h2>
        <div class="header-line"></div>
        <div class="header-menu">
          <ul class="list-menu">
            <li class="item-menu"><a href="" class="link-menu">Home</a></li>
            <li class="item-menu"><a href="" class="link-menu">About</a></li>
            <li class="item-menu"><a href="" class="link-menu">Blog</a></li>
            <li class="item-menu"><a href="" class="link-menu">Project</a></li>
            <li class="item-menu"><a href="" class="link-menu">Contact</a></li>
          </ul>
        </div>
    </div>
</header>
