<header class="header-me">
    <div class="header-container">
        <h1>Gabriel Lechenco</h1>
        <h2>Hardware & Software</h2>
        <div class="header-line"></div>
        <div class="header-menu">
          <ul class="list-menu">
            <li class="item-menu"><a href="" class="link-menu">HOME</a></li>
            <li class="item-menu"><a href="" class="link-menu">ABOUT</a></li>
            <li class="item-menu"><a href="" class="link-menu">BLOG</a></li>
            <li class="item-menu"><a href="" class="link-menu">PROJECT</a></li>
            <li class="item-menu"><a href="" class="link-menu">CONTACT</a></li>
          </ul>
        </div>
    </div>
</header>
